// Mixins in here
.flex-mixin(@direction) {
    display: flex;
    flex-direction: @direction;
}

.button(@width, @color, @background) {
    margin-top: @large-margin;
    padding: @small-padding;
    width: @width;
    border-radius: 15%;
    margin-bottom: @medium-margin;
    border: 1px solid black;
    text-align: center;
    color: @color;
    background: @background;
}