// Navigation Styles here
// Style navigation section
.nav-section {
    width: 100%;
    border-bottom: 1.3px dashed @navigation-border;

    // Nest nav-header section to the nav-section
    .nav-header {
        max-width: 800px;
        width: 100%;
        margin: 0 auto;
        // using the mixin for flex
        .flex-mixin(row);
        justify-content: space-between;
        align-items: baseline;
        padding-bottom: @small-padding;
        padding-top: @small-padding;
    
        // Nest the navigation-pane section to the nav header
        .navigation-pane {
            a {
                padding-right: @medium-padding;
                text-decoration: none;
                color: @navigation-link;
            }
        }
        
        @media @mobile {
            .flex-mixin(column);
            align-items: center;

            .navigation-pane {
                a {
                    padding-right: @large-padding;
                    margin-top: @large-margin;
                }
            }
        }
    }
}





